/** Interstate Plus **/
@font-face {
	font-family: 'InterstatePlus';
	src: url('../../fonts/interstateplus-black.eot');
	src:  
		url('../../fonts/interstateplus-black.woff') format('woff'), 
		url('../../fonts/interstateplus-black.ttf') format('truetype'), 
		url('../../fonts/interstateplus-black.svg#interstateplus-black') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'InterstatePlus';
	src: url('../../fonts/InterstatePlus-Light.eot');
	src: url('../../fonts/InterstatePlus-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/InterstatePlus-Light.woff') format('woff'),
		url('../../fonts/InterstatePlus-Light.ttf') format('truetype'),
		url('../../fonts/InterstatePlus-Light.svg#InterstatePlus-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'InterstatePlus';
	src: url('../../fonts/Interstate-ExtraLight.eot');
	src: 
		url('../../Interstate-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../../Interstate-ExtraLight.woff') format('woff'),
		url('../../Interstate-ExtraLight.ttf') format('truetype'),
		url('../../Interstate-ExtraLight.svg#Interstate-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

/** Text/Font Styles **/
.row.sponsors {
	h3 {
		color:$black;
		font-family: 'InterstatePlus', Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
		padding: 0;
		margin: 50px 0;
		text-transform: uppercase;
		a {
			color: $black;
			text-decoration: underline;
		}
	}
}

.row.featured {
	p {
		color:$white;
		font-family: 'InterstatePlus', Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 200;
		line-height: 28px;
		padding: 0;
		margin: 10px 0;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
	h2 {
		color:$white;
		font-family: 'InterstatePlus', Helvetica, Arial, sans-serif;
		font-size: 18px;
		font-weight: 800;
		line-height: 24px;
		padding: 0;
		margin: 5px 0 8px;
		text-transform: uppercase;
	}
	.blue.box {
		h2 {
			color:$white;
		}
	}
	.yellow.box {
		h2 {
			color:$black;
		}
	}
}

@media only screen and (max-width : 767px) {
	.row.sponsors h3 {
		line-height: 22px;
		text-align: center;
	}
}
