/** Interstate Plus **/
@font-face {
  font-family: 'InterstatePlus';
  src: url("../../fonts/interstateplus-black.eot");
  src: url("../../fonts/interstateplus-black.woff") format("woff"), url("../../fonts/interstateplus-black.ttf") format("truetype"), url("../../fonts/interstateplus-black.svg#interstateplus-black") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'InterstatePlus';
  src: url("../../fonts/InterstatePlus-Light.eot");
  src: url("../../fonts/InterstatePlus-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/InterstatePlus-Light.woff") format("woff"), url("../../fonts/InterstatePlus-Light.ttf") format("truetype"), url("../../fonts/InterstatePlus-Light.svg#InterstatePlus-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'InterstatePlus';
  src: url("../../fonts/Interstate-ExtraLight.eot");
  src: url("../../Interstate-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../Interstate-ExtraLight.woff") format("woff"), url("../../Interstate-ExtraLight.ttf") format("truetype"), url("../../Interstate-ExtraLight.svg#Interstate-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }
/** Text/Font Styles **/
.row.sponsors h3 {
  color: #000000;
  font-family: 'InterstatePlus', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  padding: 0;
  margin: 50px 0;
  text-transform: uppercase; }
  .row.sponsors h3 a {
    color: #000000;
    text-decoration: underline; }

.row.featured p {
  color: #ffffff;
  font-family: 'InterstatePlus', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  padding: 0;
  margin: 10px 0; }
  .row.featured p a {
    color: #ffffff;
    text-decoration: underline; }
.row.featured h2 {
  color: #ffffff;
  font-family: 'InterstatePlus', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  padding: 0;
  margin: 5px 0 8px;
  text-transform: uppercase; }
.row.featured .blue.box h2 {
  color: #ffffff; }
.row.featured .yellow.box h2 {
  color: #000000; }

@media only screen and (max-width: 767px) {
  .row.sponsors h3 {
    line-height: 22px;
    text-align: center; } }
body .container {
  max-width: 992px;
  margin-top: 86px; }

*:hover {
  transition: all 0.9s ease;
  outline: none; }

.clear {
  clear: both; }

br.rlb {
  display: block; }

br.mlb {
  display: none; }

.row .mid-well {
  margin: 0 24px; }

.row.featured p {
  color: #ffffff; }
  .row.featured p a.spacey {
    line-height: 36px; }
.row.featured .col-sm-4 {
  padding-left: 12px;
  padding-right: 12px; }
  .row.featured .col-sm-4 .box {
    height: 100%;
    padding: 15px; }
    .row.featured .col-sm-4 .box a.btn.btn-secondary {
      background: #ffffff;
      border-radius: 0;
      float: right;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none !important;
      padding: 5px 0px 1px;
      line-height: 24px;
      text-align: center; }
    .row.featured .col-sm-4 .box img {
      width: 100%; }
.row.featured .blue.box {
  background: #2caae2;
  border: 10px solid #56bbe8; }
  .row.featured .blue.box a.btn.btn-secondary {
    border: 3px solid #56bbe8;
    color: #2caae2; }
.row.featured .yellow.box {
  background: #fed33b;
  border: 10px solid #fedc62; }
  .row.featured .yellow.box p, .row.featured .yellow.box a {
    color: #000000; }
  .row.featured .yellow.box a.btn.btn-secondary {
    border: 3px solid #fedc62;
    color: #000000; }

.blue.box a.btn:hover {
  border: 3px solid #ffffff !important;
  background: #56bbe8 !important;
  color: #ffffff !important; }

.yellow.box a.btn:hover {
  border: 3px solid #ffffff !important;
  background: #fedc62 !important;
  color: #ffffff !important; }

/** Sponsors **/
.sponsor-logos {
  margin-bottom: 100px; }

.sblogos {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

@media (max-width: 539px) {
  .sblogos {
    height: 300px; } }
.sblogos__row {
  margin-left: -15px;
  margin-right: -15px; }

.sblogos__col {
  float: left; }

.sblogos__col {
  width: 50%; }

@media (min-width: 540px) {
  .sblogos__col {
    width: 25%; } }
@media (min-width: 768px) {
  .sblogos__col {
    width: 20%; } }
@media (min-width: 992px) {
  .sblogos__col {
    width: 20%; } }
@media (min-width: 1200px) {
  .sblogos__col {
    width: 20%; } }
/* --- */
@media (max-width: 767px) {
  .sblogos__col:nth-child(1n+5) {
    margin: 0 auto;
    width: 100%; } }
/* --- */
.sblogos__row,
.sblogos__col,
.sblogos__link,
.sblogos__link:before {
  height: 100%; }

@media (max-width: 539px) {
  .sblogos__col {
    height: 30%; } }
.sblogos__link,
.sblogos__link:before {
  display: inline-block; }

.sblogos__link {
  max-width: 100%;
  max-height: 100%; }

.sblogos__img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: 100%;
  max-width: 100%; }

.sblogos__link:before {
  content: '';
  vertical-align: middle; }

/* Transition Base */
.sblogos__col.active {
  position: relative; }

.sblogos__col.active .prev,
.sblogos__col.active .next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-easing: ease; }

.sblogos .sblogos__col.active {
  perspective: 500px; }

.sblogos .sblogos__col.active .prev {
  transition: opacity 2.75s ease-out, transform 2.75s ease; }

.sblogos .sblogos__col.active .next {
  transition: opacity 1.5s ease-out, transform 1.5s ease; }

/* start */
.sblogos .sblogos__col.active .next {
  opacity: 0;
  transform: translateZ(-125px); }

/* end */
.sblogos .sblogos__col.active .transition.next {
  opacity: 1;
  transform: translateZ(0px); }

/* start */
.sblogos .sblogos__col.active .prev {
  opacity: 1;
  transform: translateZ(0px); }

/* end */
.sblogos .sblogos__col.active .transition.prev {
  opacity: 0;
  transform: translateZ(-250px); }

/**  Responsive Styles **/
@media only screen and (min-width: 769px) {
  .row.featured .col-sm-4 .box {
    min-height: 480px; }
    .row.featured .col-sm-4 .box a.btn.btn-secondary {
      padding: 0 5%;
      position: absolute;
      bottom: 0;
      right: 0; } }
@media only screen and (min-width: 769px) and (min-width: 768px) and (max-width: 1070px) {
  .row-eq-height {
    min-height: 575px; } }
@media only screen and (min-width: 769px) and (max-width: 768px) {
  .sponsors h3 {
    margin: 20px 0 !important; }

  br.rlb {
    display: inline; }

  .row.featured .col-sm-4 .box {
    padding: 10px; } }
@media only screen and (min-width: 769px) and (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .row.featured .col-sm-4 .box {
    overflow: visible; }
    .row.featured .col-sm-4 .box a.btn.btn-secondary {
      line-height: 24px;
      position: absolute;
      bottom: 4%;
      right: 11%; }
  .row.featured br.rlb {
    display: inline; }

  .table-row {
    display: table; }

  .table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top; } }
@media only screen and (max-width: 768px) {
  a.btn.btn-secondary {
    float: none !important;
    position: relative !important;
    margin: 0 auto !important;
    width: 100% !important; } }

/*# sourceMappingURL=styles.css.map */
